<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.keymaker.dao.ApiStatisticDao">
    <insert id="insertOne" parameterType="com.cloud.keymaker.entity.ApiStatistic">
        insert into api_statistic values(0,#{aid},#{count},#{statistic_date},CURRENT_TIMESTAMP())
    </insert>
    <select id="getCount" parameterType="com.cloud.keymaker.entity.ApiStatistic" resultType="int">
        select count(*) from api_statistic
        <where>
            <if test="aid!=null and aid!=''">and aid=#{aid}</if>
            <if test="statistic_date!=null and statistic_date!=''">and statistic_date=#{statistic_date}</if>
        </where>
    </select>
    <select id="getSum" parameterType="com.cloud.keymaker.entity.ApiStatistic" resultType="Long">
        select ifnull(sum(count),0) from api_statistic
        <where>
            <if test="aid!=null and aid!=''">and aid=#{aid}</if>
            <if test="statistic_date!=null and statistic_date!=''">and statistic_date=#{statistic_date}</if>
        </where>
    </select>
    <select id="selectOne" parameterType="com.cloud.keymaker.entity.ApiStatistic" resultType="com.cloud.keymaker.entity.ApiStatistic">
        select * from api_statistic
        <where>
            <if test="aid!=null and aid!=''">and aid=#{aid}</if>
            <if test="statistic_date!=null and statistic_date!=''">and statistic_date=#{statistic_date}</if>
        </where>
        limit 1
    </select>
    <update id="addCountById" parameterType="Long">
        update api_statistic set count=count+1 where id=#{id} limit 1
    </update>
</mapper>